services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./backup:/backup
    restart: always

  postgres:
    image: postgres:latest
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backup:/backup
    env_file:
      - .env
    ports:
      - '5430:5432'
    restart: unless-stopped

volumes:
  postgres-data:
